// AZUL
$azure-radiance:  #009EF2;
$azure:           #395FA2;
$blue-zodiac:     #123352;
$bright-turquoise:#00C5FE;
$cerulean:        #109ad8;
$curious-blue:    #2E91CC;
$dodger-blue:     #0CA3F3;
$lochmara:        #0784C7;

//VERDE
$emerald:         #4ECD4E;
$evening-sea:     #044444;

// CINZA
$alabaster:       #F8F8F8;
$alto:            #DDDDDD;
$athens-gray:     #F9FAFB;
$concrete:        #F2F2F2;
$gallery:         #EEEEEE;
$tundora:         #444444;

// LARANJA
$sea-buckthorn:   #F89F3A;
$tree-poppy:      #F79A1C;