.SiteFooter{
  background-color: $blue-zodiac;
  padding: 30px 15px;
  text-align: center;

  @include MQ(M){
    padding: 70px 0;
    text-align: left;
  }

  h5,
  a,
  li{
    color: white;
  }

  a{
    text-decoration: none;
  }

  &-logo{
    display: block;
    margin: 0 auto;
    max-width: 120px;
    width: 90%;

    @include MQ(M){
      display: inline-block;
      margin-right: 100px;
      max-width: inherit;
      width: 160px;
    }
  }

  h5{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  &-list{
    line-height: 1;
    margin: 30px 0;

    ul{
      margin: 0 auto;
      padding: 0 0 0 15px;
      list-style: none;

      @include MQ(M){
        list-style: disc;
      }
    }

    li{
      @include transition(padding-left .3s ease);
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;

      &:hover{
        padding-left: 3px;
      }
    }

    @include MQ(M){
      display: inline-block;
      margin: 25px 25px 0 0;
      vertical-align: top;
    }
  }

  &-info{
    font-size: 16px;
    margin: 30px 0 0;

    @include MQ(M){
      display: inline-block;
      margin-top: 50px;
      vertical-align: top;
    }

    span,
    a{
      color: $bright-turquoise;
    }

    a{
      text-decoration: none;
    }

    span{
      display: block;

      img{
        display: inline-block;
        height: 12px;
        margin-right: 10px;
        vertical-align: middle;
        width: 12px;
      }
    }

    ul{
      display: table;
      list-style: none;
      margin: 30px 0 15px;
      padding: 0;
      width: 100%;

      li{
        display: table-cell;
        text-align: center;
      }

      img{
        height: 48px;
        width: 48px;
      }
    }
  }
}